<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= titulo %></title>
    <link rel="stylesheet" href="/stylesheets/material-design-icons.css">
    <link rel="stylesheet" href="/stylesheets/materialize.css">
    <link rel="stylesheet" href="/stylesheets/micss.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
</head>
<body class="teal accent-1">
  <header>
      <nav class="teal accent-3">
          <div class="nav-wrapper">
              <a href="/" class="brand-logo">Plantilla</a>
              <ul id="nav-mobile" class="right hide-on-med-and-down">
                  <li><a href="/control">Panel de control</a></li>
                  <li><a href="/logout"><i class="material-icons">person</i></a></li>
              </ul>
          </div>
      </nav>
  </header>