html,body {
    height: 100%;
}

select {
    opacity: 1;
}

nav {
    padding-left: 20px;
}

.contenido {
    height: auto;
    min-height: 70%;
}

header * {
    text-shadow: 0px 0px 5px rgb(0, 58, 55);
}

footer * {
    text-shadow: 0px 0px 5px rgb(0, 58, 55);
}

footer {
    width: 100%;
}

.margen-abajo {
    margin-bottom: 20px;
}

input {
    margin: 10px;
}

.filaUsuarios {
    display: flex;
    justify-content: space-around !important;
}

::placeholder {
    color: white;
}

.placeholder-oscuro::placeholder {
    color: teal;
}